<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Blog</title>

    <!-- 부트스트랩 css 사용 --> <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- 부트스트랩 js 사용 --> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <script type="text/javascript" src="/js/bootstrap.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id="header-title-login-user">
        <span th:text="${username}"></span> 님의
    </div>
    <div id="header-title-select-shop">
        Blog
    </div>
    <form id="my_form" method="post" action="/user/logout">
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
    </form>

    <p>글을 누르면 조회페이지로 넘어갑니다.</p>

    <ul class="list-group list-group-flush">
        <a href="article.html">
            <li class="list-group-item">Cras justo odio</li>
        </a>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>

</body>
<script>

</script>


<!--<script>-->
<!--    //게시물 리스트 불러오기.-->
<!--    function getList() {-->
<!--        $('#cards-box').empty();-->

<!--        $.ajax({-->
<!--            type: 'GET',-->
<!--            url: '/api/postings',-->
<!--            success: function (response) {-->
<!--                for (let i = 0; i < response.length; i++) {-->
<!--                    let message = response[i];-->
<!--                    let id = message['id'];-->
<!--                    let username = message['username'];-->
<!--                    let title = message['title'];-->
<!--                    addHTML(id, username, title);-->
<!--                }-->
<!--            }-->
<!--        })-->
<!--    }-->

<!--    function addList(id, username, title) {-->
<!--        let tempList = ``-->
<!--    }-->

<!--    function goDetailpage(id) {-->
<!--        $.ajax({-->
<!--            type: 'GET',-->
<!--            url: '/api/articleView/{id}',-->
<!--            success: function (response) {-->
<!--                -->
<!--            }-->
<!--        })-->
<!--    }-->
<!--</script>-->
</html>